@import "var.css";

:root {
  --var-active-color: #FF8000;
  --var-related-color: #FF0080;
}
:link { color: #0000EE; }
:visited { color: #551A8B; }

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000;
    color: #FFF;
  }
  :link { color: #00FFFF; }
  :visited { color: #da42ff; }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em;
}

var {
  font-style: unset;
  font-weight: bold;
}

.text-up, table.matrix > thead > tr > th {
  writing-mode: sideways-lr;
  padding: 0.5em 0.25em;
}

@supports (writing-mode: vertical-rl) and (not (writing-mode: sideways-lr)) {
  .text-up, table.matrix > thead > tr > th {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    vertical-align: bottom;
    text-align: left;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em;
}

table.pad > * > tr > td,
table.pad > * > tr > th {
  padding: 0.25em 0.5em;
}

table.matrix.border > * > tr > *,
table.matrix.vborder > * > tr > * {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}

table.matrix.border > * > tr > *,
table.matrix.hborder > * > tr > * {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

table.matrix > thead > tr > td {
  border: 0 none;
}

table.matrix > thead:first-child > tr:first-child > th {
  border-top: 0 none;
}

table.matrix > * > tr > :first-child {
  border-left: 0 none;
  text-align: right;
  padding: 0.25em 0.5em;
}

tbody[style*="--color:"],
tr[style*="--color:"] {
  border-left: 0.25em solid var(--color);
  border-right: 0.25em solid var(--color);
}

tr[style*="--color:"] {
  background-color: color-mix(in srgb, var(--color) 40%, #FFF0);
}

tbody[style*="--color:"] > tr:nth-child(even) {
  background-color: color-mix(in srgb, var(--color) 25%, #FFF0);
}

tbody[style*="--color:"] > tr:nth-child(odd) {
  background-color: color-mix(in srgb, var(--color) 40%, #FFF0);
}

tr:empty {
  display: none;
}
