@import "var.css";

:root {
  --var-active-color: red;
  --var-related-color: darkviolet;
  --var-rrelated-color: green;
  --line-height: 1.2;
  --section-level: 0;
  line-height: var(line-height);
}
:link { color: #0000EE; }
:visited { color: #551A8B; }

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000;
    color: #FFF;
    --var-active-color: #FF8000;
    --var-related-color: #FF0080;
    --var-rrelated-color: #00FF80;
  }
  :link { color: #00FFFF; }
  :visited { color: #da42ff; }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em;
}

var, .var {
  font-style: unset;
  font-weight: bold;
}

table, section, section > :is(h1,h2,h3,h4,h5,h6), .nocolumn {
  break-inside: avoid-column;
  column-span: all;
}

:is(h1,h2,h3,h4,h5,h6) > a[href] {
  color: unset;
  text-decoration: none;
}

section:not(.nocolumn) {
  text-align: justify;
  column-width: 20em;
  orphans: 10;
  widows: 3;
  hyphens: auto;
}

section {
  --section-level: 1;
  --section-counter: sc1;
  --section-number: ;
}
section section {
  --section-level: 2;
  --section-counter: sc2;
  --section-number: counter(sc2);
}
section section section {
  --section-level: 3;
  --section-counter: sc3;
  --section-number: counter(sc2) '.' counter(sc3);
}
section section section section {
  --section-level: 4;
  --section-counter: sc4;
  --section-number: counter(sc2) '.' counter(sc3) '.' counter(sc4);
}
section section section section section {
  --section-level: 5;
  --section-counter: sc5;
  --section-number: counter(sc2) '.' counter(sc3) '.' counter(sc4) '.' counter(sc5);
}
section section section section section section {
  --section-level: 6;
  --section-counter: sc6;
  --section-number: counter(sc2) '.' counter(sc3) '.' counter(sc4) '.' counter(sc5) '.' counter(sc6);
}
section section section section section section section {
  --section-level: 7;
  --section-counter: sc7;
  --section-number: counter(sc2) '.' counter(sc3) '.' counter(sc4) '.' counter(sc5) '.' counter(sc6) '.' counter(sc7);
}
section section section section section section section section {
  --section-level: 8;
  --section-counter: sc8;
  --section-number: counter(sc2) '.' counter(sc3) '.' counter(sc4) '.' counter(sc5) '.' counter(sc6) '.' counter(sc7) '.' counter(sc8);
}
section section section section section section section section section {
  --section-level: 9;
  --section-counter: sc9;
  --section-number: counter(sc2) '.' counter(sc3) '.' counter(sc4) '.' counter(sc5) '.' counter(sc6) '.' counter(sc7) '.' counter(sc8) '.' counter(sc9);
}
section section section section section section section section section section {
  --section-level: 10;
  --section-counter: sc10;
  --section-number: counter(sc2) '.' counter(sc3) '.' counter(sc4) '.' counter(sc5) '.' counter(sc6) '.' counter(sc7) '.' counter(sc8) '.' counter(sc9) '.' counter(sc10);
}

section {
  counter-increment: var(--section-counter);
  --title-size: calc(1em / var(--section-level) + 1em);
  margin-top: var(--title-size);
}

section > :is(h2,h3,h4,h5,h6)::before {
  content: var(--section-number) '. ';
}

section > :is(h1,h2,h3,h4,h5,h6) {
  font-size: var(--title-size);
  margin: 0;
  margin-bottom: 1em;
}

p {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin: 0;
  margin-bottom: calc(var(--line-height) * 1em);
}

table.matrix {
  text-align: center;
}

.text-up, table.matrix > thead > tr > th {
  writing-mode: sideways-lr;
  padding: 0.5em 0.25em;
  min-width: calc(var(--line-height) * 1em);
  box-sizing: border-box;
  text-align: center;
}

@supports (writing-mode: vertical-rl) and (not (writing-mode: sideways-lr)) {
  .text-up, table.matrix > thead > tr > th {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    vertical-align: bottom;
    text-align: left;
  }
}

a.var {
  color: unset;
  text-decoration: none;
}

table.first-right > * > tr > :first-child {
  text-align: right;
}

table.border > * > tr > :is(td,th) {
  border: 1px solid #808080;
}

table.striped > * > tr:nth-child(odd) > :is(td,th) {
  background-color: #7777;
}

table.striped > * > tr:nth-child(even) > :is(td,th) {
  background-color: #7774;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0;
}

table.pad > * > tr > td,
table.pad > * > tr > th {
  padding: 0.25em 0.5em;
}

table.matrix.border > * > tr > *,
table.matrix.vborder > * > tr > * {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}

table.matrix.border > * > tr > *,
table.matrix.hborder > * > tr > * {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

table.matrix > thead > tr > td {
  border: 0 none;
}

table.matrix > thead:first-child > tr:first-child > th {
  border-top: 0 none;
}

table.matrix > * > tr > :first-child {
  border-left: 0 none;
  text-align: right;
  padding: 0.25em 0.5em;
}

tbody[style*="--color:"],
tr[style*="--color:"] {
  border-left: 0.25em solid var(--color);
  border-right: 0.25em solid var(--color);
}

tr[style*="--color:"] {
  background-color: color-mix(in srgb, var(--color) 40%, #FFF0);
}

tbody[style*="--color:"] > tr:nth-child(even) {
  background-color: color-mix(in srgb, var(--color) 25%, #FFF0);
}

tbody[style*="--color:"] > tr:nth-child(odd) {
  background-color: color-mix(in srgb, var(--color) 40%, #FFF0);
}

tr:empty {
  display: none;
}
